<!DOCTYPE html>

<html>
    <head>
        <title>ABOUT</title>
         <link rel="icon" href="/img/weather.png">
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title></title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="./css/styles.css">
    </head>
    <body>
        <div class="main-content">
            {{>header}}
             <img class="portrait" src="./img/IMG-20180801-WA0003.jpg" alt="">
        </div>
      
       
          {{>footer}}
        <script src="" async defer></script>
    </body>
</html>